body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.img-responsive {
    object-fit: cover;
    width: 100%;
}
.title-special {
    color: #FF7931;
}
.delimiter {
    margin: 0 auto;
    height: 1px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.2);
}

.nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}
.nav__title {
    font-family: "Playfair Display", serif;
    font-size: 35px;
    margin-top: 30px;
}
.nav__links {
    font-size: 15px;
    margin: 0 50px;
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
    margin-top: 5px;
}
.nav__link {
    text-decoration: none;
    color: black;
}


.large-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: gray url("imgs/hotel_photo.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
}
.large-post__icon {
    margin-top: 40px;
}
.large-post__icon-img {
    width: 55px;
    height: 55px;
}
.large-post__title {
    font-size: 72px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 30px auto 80px auto;
}
.large-post__description {
    font-size: 14px;
    width: 40%;
}


.posts {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.posts__title {
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
    font-size: 17px;
    font-weight: bold;
}
.posts__list {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.post {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.post__title {
    font-family: "Playfair Display", serif;
    font-size: 23px;
    margin: 10px 0;
}
.post__description {
    font-size: 14px;
    margin: 10px 0;
}


.special-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #F7F7F7 radial-gradient(circle, white 320px, transparent 320px);
    margin: 40px auto;
    padding: 20px 0;
}
.special-offer__title {
    font-size: 17px;
    font-weight: bold;
    padding: 0;
}
.special-offer__proses {
    width: 30%;
}
.special-offer__pros {
    margin: 20px auto;
}
.special-offer__pros__title {
    font-family: "Playfair Display", serif;
    font-size: 23px;
}
.special-offer__pros__description {
    font-size: 14px;
    margin: 20px 0;
}
.special-offer__more {
    text-decoration: none;
    color: white;
    background: #FF7931;
    width: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}
.special-offer__more::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 10px;
    background: url("imgs/arrow_forward.svg") no-repeat center;
}


.footer {
    background: #575757;
    color: white;
    overflow: auto;
}
.footer__nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
}
.footer__title {
    font-family: "Playfair Display", serif;
    font-size: 35px;
    margin-top: 30px;
}
.footer__links {
    font-size: 15px;
    margin: 0 50px;
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
    margin-top: 5px;
}
.footer__link {
    text-decoration: none;
    color: white;
}


.social {
    display: flex;
    justify-content: center;
    margin: 30px;
}
.social__icon {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: white;
    margin: 0 10px;
}
